<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ikzamen.Properties.Settings.db35ConnectionString"
            connectionString="Data Source=svc0.ddns.net;Initial Catalog=db35;Persist Security Info=True;User ID=user35;Password=gXrrxL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>